.carrinho {
  /* border: 1px solid black; */
  color: var(--fourth-color);
  font-family: "Alata", Arial;
  /* width: 80%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carrinho h2 {
  width: 100%;
}

.carrinhoProd {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.carHeader {
  display: flex;
  justify-content: space-evenly;
}

.boxProduct {
  /* background-color: var(--second-color); */
  /* width: 240px; */
  height: 100px;
  padding: 1px 15px 20px 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 50px 1px rgba(0, 0, 0, 0.096);
  transition-duration: 250ms;
}

.boxProduct p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.boxProduct:hover {
  transform: scale(1.02);
}

.valorecategoria {
  display: flex;
  justify-content: space-between; 
}

* {
  font-family: "Alata", Arial;
}
