.graficoBox {
    display: flex;
    flex-direction: column;
    height: 360px;
    background-color: #FFF;
    color: rgba(0, 0, 0, 0.774);
    border-radius: 14px;

    width: 410px;
    
    padding: 15px 25px 15px 20px;
}

.graficoBox:hover {
    cursor: default;
}

.graficoBox h3 {
    margin: 0;
}

.graficoBox h4 {
    margin: 0;
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.562);
}

#trendinggraphic {
    font-size: 14px;
    color: #2e7d32;
}

#title {
    font-size: 18px;
}

.iconetitle .left, .iconetitle .right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.iconetitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.listGraphicLegal {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    justify-content: center;
}

.legendGraphic {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.pieChart {
    display: flex;
    align-items: center;
}