/* .MuiAutocomplete-listbox {
  max-height: 200px;
  overflow: auto;
}

.MuiAutocomplete-listbox::-webkit-scrollbar {
  width: 6px;
}

.MuiAutocomplete-listbox::-webkit-scrollbar-thumb {
  background-color: #bdbdbd45;
  border-radius: 8px;
}

.MuiAutocomplete-listbox::-webkit-scrollbar-thumb:hover {
  background-color: #91a9994d;
}

.allContentFormProduct {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.allContent {
  font-family: "Alata", Arial;
  color: var(--fourth-color);

  width: 70%; 

  display: flex;
  flex-direction: column;
}

hr {
  margin: 0;
}

.formularioProdutos {

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formularioProdutos h2, .formularioProdutos p {
  margin: 0;
}

.li-option-icon {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.li-option-icon div {
  padding: 6px 9px;
}

.group-options h3 {
  margin: 5px;
}

.form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-right: 1rem;
}

#buttonAdicionar {
  background-color: var(--third-color);
}

.divInputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sendValor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

.box-form-comanda-carrinho {
  display: flex;
  flex-direction: column;
}

.content-product {
  display: flex;
  margin-top: 1rem;
  margin-left: -1rem;
  gap: 1.5rem;
}

.form-product {
  background-color: #F2F2F2;
  max-width: 632px;
  padding: 0 1rem 1rem 1rem;
  border-radius: 1rem;
}

.box-form-product {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;

  & P {
    opacity: 0.7;
    margin: 17px 0 5px 15px;
    font-size: 0.875rem;
  }

  & .left-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & .nome-produto {
      width: 300px;
      height: 90px;
      background-color: #EBEBEB;
      border-radius: 1rem;
    }

    & .valor-quantidade-produto {
      display: flex;
      flex-direction: row;
      width: 300px;
      height: 90px;
      background-color: #EBEBEB;
      border-radius: 1rem;

      & .valor-produto {
        display: flex;
        flex-direction: column;
      }
      
      & .quantidade-produto {
        display: flex;
        flex-direction: column;
      }
    }
  }

  & .categoria-produto {
    width: 300px;
    height: 196px;
    background-color: #EBEBEB;
    border-radius: 1rem;

    & p:last-of-type {
      margin-top: 8px;
    }
  }
}

.box-comanda {
  width: 210px;
  height: 324px;
  padding: 1rem;
  background-color: #F2F2F2;
  border-radius: 1rem;
}

.box-carrinho {
  background-color: #F2F2F2;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-left: -1rem;
  padding-left: 1rem;
  flex: 1;
}