:root {
  --primary-color: #ffffff;
  --second-color: #f5f5f5;
  --third-color: #44444c;
  --fourth-color: #5a616d;
}

body {
  overflow-y: hidden;
}

.content {
  display: flex;
  gap: 50px;
}

.cadastroUsuario {
  background-color: var(--primary-color);
  padding: 20px;
  box-shadow: 1px 1px 50px 1px rgba(0, 0, 0, 0.192);
  border-radius: 10px;
  color: var(--fourth-color);
  font-family: "Alata", Arial;
}

.comandas {
  display: flex;
  flex-direction: column;
  /* background-color: var(--primary-color); */
  /* padding: 20px;
  box-shadow: 1px 1px 50px 1px rgba(0, 0, 0, 0.192);
  border-radius: 10px; */
  color: var(--fourth-color);
  font-family: "Alata", Arial;  
  gap: 9px;

  flex-wrap: wrap;
  height: 100%;
}

.boxComanda {
  background-color: rgba(0, 128, 0, 0.113);
  border: 2px solid rgb(92, 148, 92);
  box-shadow: 1px 1px 50px 1px rgba(0, 0, 0, 0.041);
  border-radius: 5px;
  padding: 10px;

  transition: transform 250ms;
}

.boxComandaDesativa {
  background-color: rgba(128, 0, 0, 0.113);
  border: 2px solid rgb(148, 92, 92);
  box-shadow: 1px 1px 50px 1px rgba(0, 0, 0, 0.041);
  border-radius: 5px;
  padding: 10px;

  transition: transform 250ms;
}

.boxComanda:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.boxComanda p, .boxComandaDesativa p {
  margin: 0;
}