.formUser {
    font-family: "Alata", Arial;
    color: var(--fourth-color);
    border-radius: 8px;
    background-color: #f5f5f5;
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.formUser p, .formUser h2 {
    margin: 0;
}

.inputoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.classUser {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#buttonEnviar {
    background-color: var(--third-color);
}