/* pesquisa */

.button-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-search {
    display: flex;
    flex-direction: row;
}

/* comandas */

.comandas {
    display: flex;
    height: 100dvh;
    width: 100%;
    flex-direction: row;
    align-content: start;
}

.boxComanda {
    background-color: rgba(0, 128, 0, 0.113);
    border: 2px solid rgb(92, 148, 92);
    box-shadow: 1px 1px 50px 1px rgba(0, 0, 0, 0.041);
    border-radius: 5px;
    padding: 10px;
    width: 170px;
    height: 22px;
    text-align: center;
    transition: transform 250ms;
}

.boxComandaDesativa {
    background-color: rgba(128, 0, 0, 0.113);
    border: 2px solid rgb(148, 92, 92);
    box-shadow: 1px 1px 50px 1px rgba(0, 0, 0, 0.041);
    border-radius: 5px;
    padding: 10px;
    width: 170px;
    height: 22px;
    text-align: center;
    transition: transform 250ms;
    cursor: pointer;
}

.boxComanda:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.boxComanda p,
.boxComandaDesativa p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}