.allContentTransacoes {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    overflow-x: hidden;
    align-items: center;
    width: 300px;
    margin-top: 1rem;
    background-color: #F2F2F2;
    border-radius: 1rem;
    margin-left: 1.5rem;
    height: 638px;
}

.allContentTransacoes::-webkit-scrollbar {
    display: none;
}

.allContentTransacoes h1 {
    padding-left: 4rem
}

.log {
    padding: 10px;
    width: 200px;
}

.log:hover {
    cursor: pointer;
}

.log p {
    margin: 4px;
}

.log i {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.486);
}

.log hr {
    margin: 5px;
    border-color: rgba(0, 0, 0, 0.185);
}

.timestamp {
    width: 100%;
    text-align: center;
}