.graficosContentAll {
    display: flex;
    gap: 30px;
    background-color: #EBEBEB;
    padding: 25px;
    border-radius: 14px;
    flex-wrap: wrap;
}

.headerDiv {
    display: flex;
    width: 100%;

    justify-content: space-between;
}

.optionsGraficos {
    display: flex;
    align-items: center;
}

.contentGraficos {
    display: flex;
    width: 100%;
    gap: 80px;
}

.graficos {
    width: 100%;
}

h4 {
    color: rgba(0, 0, 0, 0.726);
}