@import url('https://fonts.googleapis.com/css2?family=Alata&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    overflow-y: hidden;
}

.content-comanda {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3rem;
    background-color: transparent;
}

.cadastroUsuario {
    padding: 20px;
    box-shadow: 1px 1px 50px 1px rgba(0, 0, 0, 0.192);
    border-radius: 10px;
    color: var(--card-color1);
    font-family: "Alata", Arial;

    /* Altura e largura do formulário */
    height: 500px;
    width: 600px;
}

.card-comanda {
    background-color: var(--card-color2);
    /* padding: 20px; */
    box-shadow: 1px 1px 50px 1px rgba(0, 0, 0, 0.192);
    border-radius: 10px;
    color: var(--card-color1);
    font-family: "Alata", Arial;
    font-size: 32px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    /* Altura e largura da Comanda */
    height: 500px;
    width: 310px;
}

.card-comanda img {
    width: 230px;
    height: 230px;
    align-items: center;
}

.card-comanda p {
    font-family: "Poppins", Helvetica, sans-serif;
    height: 2.3rem;
}

.qrID {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.qrID p {
    margin: 0;
}

#escaneie {
    font-size: 15px;
}

.otherInfos {
    display: flex;
    flex-direction: column;
    font-size: 28px;
    width: 100%;
    background-color: var(--card-color1);
    color: var(--card-color2);
    border-radius: 0 0 8px 8px;
    padding: 0 20px;
}

.otherInfos p {
    width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.otherInfos input {
    width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 28px;
    border: 0;
    color: var(--card-color2);
    background-color: transparent;
}

.otherInfos input::placeholder {
    color: var(--card-color2);
}

.otherInfos input:focus {
    outline: none;
}

.inputName {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#inputLegal {
    width: 200px; 
}

.comandas {
    display: flex;
    flex-direction: column;
    color: var(--card-color1);
    font-family: "Alata", Arial;
    gap: 9px;

    flex-wrap: wrap;
    height: 100%;
}

.form-buttons {
    display: flex;
    flex-direction: row;
    /* width: 310px; */
    justify-content: space-between;
    align-items: center;
}

#botoes {
    padding: 10px;
    color: #f5f5f5;
    background-color: #343c4c;
}

#botoesDesativar {
    background-color: #e6d7d7;
    border: 2px solid #945c5c;
    color: #5a616d;
    border-radius: 7px;
}

.inputs {
    display: flex;
}

.inputs p{
    width: 70px;
}
