.graficoBox {
    display: flex;
    flex-direction: column;
    height: 300px;
    background-color: #FFF;
    color: rgba(0, 0, 0, 0.774);
    border-radius: 14px;

    width: 410px;
    padding: 15px;
}

.graficoBox:hover {
    cursor: default;
}

.graficoBox h3 {
    margin: 0;
}

.graficoBox h4 {
    margin: 0;
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.562);
}

#totalETC {
    width: 230px;
    height: 70px;
    justify-content: space-between;
}

#totalETC p {
    margin: 5px;
}

#totalETC b {
    font-size: 18px;
}

#trendinggraphic {
    font-size: 14px;
    color: #2e7d32;
}

#title {
    font-size: 18px;
}

.iconetitle .left, .iconetitle .right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.iconetitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* comandas metrics */

.comandascadastradas {
    display: flex;
}

.comandascadastradas p {
    font-size: 16px;
    margin: 0;
}

.comandascadastradas #metric {
    font-weight: bold;
}

.comandascadastradas #subtitlemetric {
    color: rgba(0, 0, 0, 0.589);
}

#comandasBox {
    width: 230px;
    height: 70px;
    justify-content: space-between;
}

#comandasBox p {
    margin: 5px;
}