:root {
  --primary-color: #F7F6ED;
  --second-color:  #27C25D;
  --third-color: #101A17;
  --fourth-color: #191917;
}

.container {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: center;
  margin-left: 100px;
}

.side-bar {
  /* border-right: solid 1px black; */
  background-color: var(--primary-color);
  width: 100px;
  height: 100dvh;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  position: fixed;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#icon {
  width: 80px;
  height: 80px;

  background-color: var(--second-color);
}

/* feed */

.feed-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}