:root {
    --shadow: rgba(0, 0, 0, 0.039);
    --primary-color: #f9f9f9;
    --second-color:  #ffffff8c;
    --third-color: #349854;
    --fourth-color:#12222a;
    --card-color1: #12222a;
    --card-color2: #f9f9f9;
}

html, body, #root {
    display: flex;
    background-color: var(--third-color);

    margin: 0;
    width: 100dvw;
    height: 100dvh;
    overflow-x: hidden;
}