:root {
    --primary-color: #F7F6ED;
    --second-color:  #27C25D;
    --third-color: #101A17;
    --fourth-color: #191917;
}

html, body, #root {
    display: flex;
    background-color: var(--primary-color);

    margin: 0;
    height: 100dvh;
}