:root {
    --primary-color: #ffffff;
    --second-color:  #f5f5f5;
    --third-color: #44444c;
    --fourth-color: #5a616d;
}

html, body, #root {
    display: flex;
    background-color: var(--second-color);

    margin: 0;
    height: 100dvh;
}