@import url("https://fonts.googleapis.com/css2?family=Alata&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.container {
  display: flex;
  width: 85dvw;
  margin-left: 20px;
  margin-top: 20px;
}
